{% extends "base.html" %}

{% block content %}
<div class="article-entry">
    <h2 class="text-primary">{{ object.title }}</h2>
    <img src="{{ object.image.url }}" height="100%" width="100%" />
    <p class="text-light">${{ object.price }}</p>
    <p class="text-light">by {{ object.author }} | {{ object.date }}</p>
</div>
{% if item.author == request.user %}
                  <a href="{% url 'item_edit' item.pk %}">Edit</a> |
                    <a href="{% url 'item_delete' item.pk %}">Delete</a>
                    {% else %}
                    <a href="{% url 'item_detail' item.pk %}">Buy</a>
                        {% endif %}
<p class="text-light">Back to <a href="{% url 'item_list' %}">All Items</a>.</p>

</div>

{% endblock content %}